<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278766114098-a6f5en3ll2mhkq5747vk34cv1di92j71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278766114098-a6f5en3ll2mhkq5747vk34cv1di92j71</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>278766114098-o1q3qq5h0pcc3na0jcddt3pj1s1flcla.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqxpsDH_9H-a1s9WRrlpgwY8BaGHICX2E</string>
	<key>GCM_SENDER_ID</key>
	<string>278766114098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dondeVamos</string>
	<key>PROJECT_ID</key>
	<string>donde-vamos-19c1a</string>
	<key>STORAGE_BUCKET</key>
	<string>donde-vamos-19c1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278766114098:ios:9c117aaa0ca640f812f32b</string>
</dict>
</plist>